In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("Advertising.csv")
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
import statsmodels.formula.api as sm

In [8]:
# ssfit 平方差越小越好 R平方 判斷係數 接近1月好 t統計 月高越好 p value (1 - 信心指數) 希望是小魚0.05
# forward selecting backward selecting mix
#feature selectind

def get_parameter(model):
    y_pred = model.predict(df)
    print("SS_fit = ",np.sum((y_pred - df.Sales)**2))
    print("R2 = ",model.rsquared)

In [14]:
TV = sm.ols("Sales ~ TV",df).fit()
TV.summary().tables[1]

In [15]:
get_parameter(TV)

SS_fit =  2102.5305831313512
R2 =  0.611875050850071

In [16]:
Radio = sm.ols("Sales ~ Radio",df).fit()
Radio.summary().tables[1]

In [17]:
get_parameter(Radio)

SS_fit =  3618.4795490250876
R2 =  0.33203245544529547

In [18]:
News = sm.ols("Sales ~ Newspaper",df).fit()
News.summary().tables[1]

In [19]:
get_parameter(News)

SS_fit =  5134.804544111939
R2 =  0.05212044544430516

In [20]:
TVNews = sm.ols("Sales ~ Newspaper + TV",df).fit()
TVNews.summary().tables[1]

In [21]:
get_parameter(TVNews)

SS_fit =  1918.5618118968277
R2 =  0.6458354938293271

In [22]:
RadioNews = sm.ols("Sales ~ Newspaper +Radio",df).fit()
RadioNews.summary().tables[1]

In [23]:
get_parameter(RadioNews)

SS_fit =  3614.8352786449905
R2 =  0.33270518395032256

In [24]:
TVRadio = sm.ols("Sales ~ TV + Radio",df).fit()
TVRadio.summary().tables[1]

In [25]:
get_parameter(TVRadio)

SS_fit =  556.9139800676184
R2 =  0.8971942610828957

In [26]:
TVRadioNews = sm.ols("Sales ~ Newspaper +TV+Radio",df).fit()
TVRadioNews.summary().tables[1]

In [ ]:
get_parameter()